<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/tracker') %>
    <meta http-equiv="refresh" content="<%=time%>; url=<%=url%>">
    
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <svg viewBox="0 0 100 100" style="width:100px;height:100px"><style>@keyframes klarna-loader-animation-dotted{0%,100%{transform:translateY(0)}50%{transform:translateY(-10%)}}</style><circle cx="11.5" cy="50" r="11.5" style="fill:rgba(14,14,15,1);animation:klarna-loader-animation-dotted .8s infinite ease-in-out;animation-delay:0s"></circle><circle cx="50" cy="50" r="11.5" style="fill:rgba(14,14,15,1);animation:klarna-loader-animation-dotted .8s infinite ease-in-out;animation-delay:.2s"></circle><circle cx="88.5" cy="50" r="11.5" style="fill:rgba(14,14,15,1);animation:klarna-loader-animation-dotted .8s infinite ease-in-out;animation-delay:.4s"></circle></svg>
</body>
</html>